{% extends 'base.html' %}
{% load markdownify %}
{% block main %}
    <div>
        <h1>{{ project.name }}</h1>
        <p>{{ project.description|markdownify }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url "create_task" %}">Create a new Task</a>
        </p>
        {% if project.tasks.all|length == 0 %}
            <p>This project has no tasks</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                {% for task in project.tasks.all %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.assignee }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed }}</td>
                        {% if task.is_completed == True %}
                            <p>yes</p>
                        {% else %}
                            <p>no</p>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock main %}
